.dropdown {

    position: relative;

    &::after {
        content: "\f107";
        font: normal normal normal 14px/1 FontAwesome;
        align-self: center;
        margin-left: 6px;
        margin-top: -3px;
        right: 15px;
        font-size: 22px;
        text-align: right;
        position: absolute;
    }

}

a {
    
    color: black;
    text-decoration: none;
    align-self: center;

    &:hover {
        color: black;
        font-weight: bold;
    }
        
    span {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
    
}

a.white {

    color: white;
    
    &:hover {
        color: black;
    }
    
}

button {

    background-color: var(--theme-color);
    transition: background-color 0.1s;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    
    &:hover {
        background-color: gray;
        transition: background-color 0.1s;
    }

    &.white {
        background-color: white;
        color: black;
        &:hover {
            background-color: gray;
            transition: background-color 0.1s;
        }
    }

}

.square-button {
    padding: 6px 66px 6px 14px;
}

.square-button.round-corners {
    border-radius: 6px;
}

.round-button {
    padding: 6px 22px 6px 22px;
    border-radius: 40px;
    height: 54px;
    width: fit-content;

    &.bg-white {
        color: var(--theme-color);
    }

    &.bg-black {
        color: white;
        background-color: black;
        transition: background-color 0.1s;
        
    }

    &:hover {
        background-color: gray !important;
        transition: background-color 0.1s;
    }

}

.category-button {
    background-color: #cccccc;
    margin: 6px;
    border-radius: 6px;
    position: relative;
    transition: all 0.15s;
    cursor: pointer;
    overflow: hidden;

    p {
        margin-bottom: 0;
    }

    div {
        background-color: #292f51;
        color: var(--theme-color);
        position: absolute;
        bottom: 0px;
        left: 0px;
        min-width: 50%;
        border-radius: 0 6px 0 6px;
        padding: 6px 12px;
        text-align: left;
        height: 38px;
        transition: all 0.15s;
        
        p:nth-child(2) {
            visibility: collapse;
            position: absolute;
            color: white;
            font-size: 14px;
            opacity: 0;
        }
        
    }
    
    &:hover {
        margin: 0px;

        div {
            height: 56px;
        }
        
        p:nth-child(2) {
            visibility: visible;
            position: relative;
            opacity: 1;
        }

    }

}

.center {
    align-items: center;
    align-self: center;
    justify-content: center;
}

button.product {

    position: relative;
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 400px;
    background-color: #eeeeee;
    border-radius: 4px;

    .container {
        position: absolute;
        background-color: #292f51;
        color: white;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border-radius: 0 0 4px 4px;
        padding: 6px 12px;
        text-align: left;
        height: 38px;
        opacity: 85%;
        transition: all 0.15s;
        
        p {
            opacity: 0%;
            margin: 6px;
            transition: all 0.1s;
        }
        
        .header {
            opacity: 100%;
            position: absolute;
            bottom: 4px;
            margin-bottom: 0;
            transition: all 0.1s;
        }
        
        .popup {
            background-color: white;
            border-radius: 23px;
            position: absolute;
            right: 15px;
            top: 15px;
            width: 46px;
            opacity: 0;
            padding: 23px 13px;
            
            a {
                margin-top: 15px;
                &:hover {
                    color: var(--theme-color);
                }

            }

            a:nth-child(1) {
                margin-top: 0;
                color: #FE6C6C;
                &:hover {
                    color: var(--theme-color);
                }
            }

        }

    }
    
    &:hover .container {
        
        height: 100%;
        
        p {
            opacity: 100%;
        }
        
        .header {
            position: relative;
        }
        
        .popup {
            opacity: 100%;
        }
        
    }
    
}
