.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .icon::after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  align-self: center;
  right: 15px;
  font-size: 22px;
  text-align: right;
  position: absolute;
}
.dropdown a.icon::after {
  right: 12px;
}
.dropdown .square-button.icon::after {
  top: 100px;
}
.dropdown:hover {
  filter: none;
}

.dropdown-menu {
  top: 100%;
  left: 0;
  padding: 12px;
  position: absolute;
  border-radius: 4px;
  display: none !important;
  background-color: var(--white);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  color: black !important;
  background-color: transparent !important;
  padding: 6px;
  display: block;
  white-space: pre !important;
  word-break: keep-all;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.dropdown:hover .dropdown-menu, .dropdown-menu:hover {
  display: block !important;
}

a {
  color: black;
  text-decoration: none;
  align-self: center;
}
a:hover {
  color: black;
  font-weight: bold;
}
a span {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

a.white {
  color: white;
}
a.white:hover {
  color: black;
}

button {
  background-color: var(--theme-color);
  color: white;
  transition: background-color 0.1s;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  transition: filter 0.1s ease;
}
button:hover {
  filter: brightness(80%);
}
button.white {
  background-color: white;
  color: black;
}
button.white:hover {
  filter: brightness(80%);
}

.square-button {
  padding: 6px 66px 6px 14px;
  font-size: 18px;
}

.square-button.round-corners {
  border-radius: 6px;
}

.round-button {
  padding: 6px 22px 6px 22px;
  border-radius: 40px;
  height: 54px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: filter 0.1s ease;
}
.round-button.bg-white {
  color: var(--theme-color);
}
.round-button.bg-black {
  color: white;
}
.round-button:hover {
  filter: brightness(80%);
}

.category-button {
  background-color: #cccccc;
  margin: 6px;
  border-radius: 6px;
  position: relative;
  transition: all 0.15s;
  cursor: pointer;
  overflow: hidden;
}
.category-button p {
  margin-bottom: 0;
}
.category-button div {
  background-color: #292f51;
  color: var(--theme-color);
  position: absolute;
  bottom: 0px;
  left: 0px;
  min-width: 50%;
  border-radius: 0 6px 0 6px;
  padding: 6px 12px;
  text-align: left;
  height: 38px;
  transition: all 0.15s;
}
.category-button div p:nth-child(2) {
  visibility: collapse;
  position: absolute;
  color: white;
  font-size: 14px;
  opacity: 0;
}
.category-button:hover {
  margin: 0px;
}
.category-button:hover div {
  height: 56px;
}
.category-button:hover p:nth-child(2) {
  visibility: visible;
  position: relative;
  opacity: 1;
}

.center {
  align-items: center;
  align-self: center;
  justify-content: center;
}

button.product {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 400px;
  background-color: #eeeeee;
  border-radius: 4px;
}
button.product:hover {
  filter: none;
}
button.product .container {
  position: absolute;
  background-color: #292f51;
  color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 0 0 4px 4px;
  padding: 6px 12px;
  text-align: left;
  height: 38px;
  opacity: 85%;
  border-radius: 4px;
  transition: all 0.15s;
}
button.product .container p {
  opacity: 0%;
  margin: 6px;
  transition: all 0.1s;
}
button.product .container .header {
  opacity: 100%;
  position: absolute;
  bottom: 4px;
  margin-bottom: 0;
  transition: all 0.1s;
}
button.product .popup-container {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.1s ease;
}
button.product .popup-container:hover {
  opacity: 1;
}
button.product .popup {
  background-color: white;
  border-radius: 23px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 46px;
  opacity: 1;
  padding: 23px 13px;
}
button.product .popup a {
  margin-top: 15px;
}
button.product .popup a:hover {
  color: var(--theme-color);
}
button.product .popup a:nth-child(1) {
  margin-top: 0;
  color: #FE6C6C;
}
button.product .popup a:nth-child(1):hover {
  color: var(--theme-color);
}
button.product:hover .container {
  height: 100%;
}
button.product:hover .container p {
  opacity: 100%;
}
button.product:hover .container .header {
  position: relative;
}
button.product:hover .container .popup {
  opacity: 100%;
}/*# sourceMappingURL=buttons.css.map */