@import url(buttons.css);
@import url(header.css);
:root {
  --theme-color: #20D3C2;
  --light-gray: #e3e3e3;
  --light-gray2: #777777;
  --light-gray-darker: #a3a3a3;
  --dark-gray: #cccccc;
  --dark-blue: #080c24;
  --white: #f6f6f6;
  --teal: #20d3c2;
  --theme-layout-margin: calc(100vw / 6);
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0;
  overflow-x: clip;
}

h1 {
  font-family: "Play", sans-serif;
  color: black;
}

p {
  margin-top: 16px;
  margin-bottom: 16px;
}

label {
  font-style: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

input {
  outline: none;
  color: black !important;
  background-color: white;
  caret-color: black;
  box-shadow: none;
  border-radius: 23px;
  border: 1px solid var(--light-gray);
  font-size: 14px;
  padding-left: 25px;
  transition: all 0.025s ease-in-out;
}
input:focus, input:active {
  border: 1px solid var(--light-gray-darker) !important;
  color: black !important;
}

input[type=checkbox] {
  accent-color: var(--theme-color);
}

footer {
  z-index: 10;
}

.background-theme {
  background-color: var(--theme-color);
}

.color-theme {
  color: var(--theme-color);
}

.color-black {
  color: black;
}

.color-gray {
  color: var(--light-gray2);
}

.color-white {
  color: white;
}

.background-gray {
  background: var(--light-gray);
}

.background-dark-gray {
  background: var(--dark-gray);
}

.color-dark-blue {
  background-color: var(--dark-blue);
}

grid {
  display: grid;
  gap: 30px;
}

two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.theme-layout-margin {
  margin-left: 16.6666666667%;
  margin-right: 16.6666666667%;
  transition-property: margin-left, margin-right;
  transition-duration: 1s;
}

.section-header-margin {
  margin-top: 162px;
}

.margin-right-6 {
  margin-right: 6px;
}

.margin-right-22 {
  margin-right: 22px !important;
}

.margin-top-22 {
  margin-top: 22px;
}

.margin-bottom-22 {
  margin-bottom: 22px;
}

.margin-top-bottom-22 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

*[data-tooltip] {
  position: relative;
}

*[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  right: 52px;
  top: 0px;
  font-weight: 400;
  font-style: normal;
  font-family: roboto;
  color: white;
  pointer-events: none;
  background-color: var(--theme-color);
  border-radius: 5px;
  padding: 6px;
  display: block;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

*[data-tooltip]:hover::after {
  opacity: 1;
}

.line-height-min {
  line-height: 60px;
}

.min-height-418 {
  min-height: 418px !important;
}

.min-height-435 {
  min-height: 435px !important;
}

.min-height-313 {
  min-height: 313px !important;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-36 {
  font-size: 36px !important;
}

.font-size-60 {
  font-size: 60px !important;
}

@media only screen and (min-width: 1065px) {
  .large-viewport-hide {
    display: none;
  }
}

@media only screen and (max-width: 1500px) {
  :not(.disable-small-viewport) .small-viewport-hide {
    display: none;
  }
  :not(.disable-small-viewport) three-column-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  :not(.disable-small-viewport) .theme-layout-margin {
    margin-left: 22px;
    margin-right: 44px;
    transition-property: margin-left, margin-right;
    transition-duration: 1s;
  }
}
@media only screen and (max-width: 1064px) {
  :not(.disable-small-viewport) .extra-small-viewport-hide {
    display: none;
  }
}
@media only screen and (max-width: 810px) {
  :not(.disable-small-viewport) three-column-grid:not(.disable-small-viewport) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.width-547 {
  width: 547px;
}

.font-weight-400 {
  font-weight: 400;
}

.align-center {
  align-content: center;
  align-self: center;
}

.horizontal-align {
  text-align: center;
}

.align-start {
  align-self: flex-start;
  left: 0px;
}

.align-end {
  align-self: flex-end;
  right: 0px;
}

.justify-content {
  justify-content: space-around;
}

.center {
  align-items: center;
  align-self: center;
  justify-content: center;
}

.display-inline {
  display: inline !important;
}

.stretch-height {
  height: 100%;
  top: 0px;
  bottom: 0px;
}

.stretch-width {
  width: 100%;
  left: 0px;
  right: 0px;
}

.width-fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.stretch-height {
  top: 0;
  bottom: 0;
}

.right {
  position: absolute;
  right: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=general.css.map */