@charset "UTF-8";
@import url(general.css);
.top-menu {
  justify-content: space-between;
  align-content: center;
  height: 40px;
}
.top-menu a,
.top-menu div {
  margin: 0 12px;
  font-size: 16px;
}
.top-menu div {
  display: flex;
  align-self: center;
  margin-left: -6px;
  margin-right: -6px;
}
.top-menu div .fa {
  margin: 0 11px 0 0;
}
.top-menu div .dropdown {
  padding-right: 32px;
  margin-left: -16px;
}

.account {
  white-space: nowrap;
}
.account span {
  margin-left: 6px;
}

.fa {
  align-self: center;
}

.searchbar {
  flex-grow: 1;
  height: 46px;
  max-width: 522px;
  min-width: 200px;
  margin: auto;
  position: relative;
  display: inline-block;
  width: 50%;
  margin-left: 65px;
  margin-right: 65px;
}
.searchbar input {
  outline: none;
  color: #AAAAAA;
  height: 100%;
  width: 100%;
  background-color: white;
  caret-color: black;
  box-shadow: none;
  border-radius: 23px;
  border-width: 1px;
  border-color: var(--light-gray);
  font-size: 14px;
  padding-left: 25px;
}
.searchbar button {
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 0 23px 23px 0;
  position: absolute;
  right: 0px;
  display: inline;
  text-align: center;
}

input:focus {
  border-color: black;
  color: black;
}

.cart::after {
  margin-left: 6px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  content: "€0.00";
}

.logo {
  align-self: center;
  min-width: 160px;
  max-width: 160px;
  min-height: 23px;
  max-height: 23px;
  cursor: pointer;
}

.special-offer {
  align-self: flex-end;
  margin-bottom: 5px;
}

.sub-menu {
  justify-content: space-between;
  align-content: center;
  height: 40px;
}
.sub-menu .square-button {
  margin-top: -6px;
}

.line {
  height: 1px;
  background-color: var(--light-gray);
  margin-bottom: 6px;
}

.section {
  max-height: 600px;
  width: 100%;
  height: 418px;
}
.section.large {
  height: 600px;
}
.section .section-side {
  max-width: 390px;
  align-self: center;
}
.section h1 {
  font-size: 64px;
  margin-top: 120px;
}
.section button {
  font-size: 18px;
  font-family: "roboto", "sans-serif";
}

.info-container {
  justify-content: space-around;
  padding-left: 120px;
  padding-right: 120px;
  margin: 120px 0;
}

.info-box {
  width: 400px;
  margin: 0 15px;
  padding: 26px;
  background: #edfcfa;
  color: black;
  text-align: left;
  white-space: normal;
  transition: all 0.1s ease-in-out;
}
.info-box div :nth-child(1) {
  margin-right: 30px;
}
.info-box:hover {
  transition: all 0.1s ease-in-out;
}

two-column-grid > div {
  align-self: center;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  height: 662px;
}

.category-button:nth-child(1) {
  grid-column-start: 1;
}

.category-button:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 4;
}

.category-button:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.category-button:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.category-button:nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.category-button:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
}

.category-button:nth-child(7) {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
}

.squigly-line {
  background-image: url("../img/squigly-line.svg");
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  width: 100%;
  height: 42px;
  display: block;
}

.horizontal .product {
  align-content: center;
}

.product .category {
  border: white 1px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 11px;
}

.price {
  font-size: 24px;
}
.price.original {
  text-decoration: line-through;
  font-size: 16px;
  margin-bottom: -8px !important;
}

p.price {
  margin-bottom: 0;
}

@media only screen and (max-width: 1072px) {
  .theme-layout-margin {
    margin-left: 22px;
    margin-right: 22px;
    transition-property: margin-left, margin-right;
    transition-duration: 1s;
  }
  .logo {
    margin: auto;
  }
  .searchbar {
    margin: auto;
    margin: 22px;
  }
  .header {
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }
}/*# sourceMappingURL=index.css.map */