@import url(general.css);
@import url(product-data.css);
.info-container {
  justify-content: space-around;
  padding-left: 120px;
  padding-right: 120px;
  margin: 120px 0;
  flex-flow: wrap;
  gap: 22px;
}

button.info-box {
  width: 400px;
  padding: 26px;
  background: #edfcfa;
  color: black;
  text-align: left;
  white-space: normal;
  position: relative;
  transition: background-color 0.25s ease;
}
button.info-box div {
  width: 100%;
  height: 100%;
  align-content: center;
}
button.info-box img {
  display: inline-block;
  margin: auto;
  width: 50%;
  height: 50%;
  position: relative;
  top: 25%;
  left: 22px;
}
button.info-box:hover {
  background-color: var(--theme-color);
  color: white;
  filter: none;
}
button.info-box:hover h5 {
  color: inherit;
}

.squigly-line {
  background-image: url("../img/squigly-line.svg");
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  width: 100%;
  height: 42px;
  display: block;
}

.section-text {
  max-width: 445px;
  font-size: 14px;
  color: white;
}

.section-text2 {
  width: 445px;
  font-size: 14px;
  color: white;
}

.alt-section-background {
  background-color: #292f51;
}

.banner {
  width: 255px;
  min-height: 265px;
  text-align: center;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  height: 662px;
  gap: 10px;
}

.category-button:nth-child(1) {
  grid-column-start: 1;
}

.category-button:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 4;
}

.category-button:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.category-button:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.category-button:nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.category-button:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
}

.category-button:nth-child(7) {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
}

.horizontal .product {
  align-content: center;
}

.product .category {
  border: white 1px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 11px;
}

.product-7 {
  grid-area: a;
}

.product-8 {
  grid-area: b;
}

.product-9 {
  grid-area: c;
}

.price {
  font-size: 24px;
}
.price.original {
  text-decoration: line-through;
  font-size: 16px;
  margin-bottom: -8px !important;
}

p.price {
  margin-bottom: 0;
}

.time-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
  margin-bottom: 27px;
  padding-left: 0;
  margin-top: 22px;
}
@media only screen and (max-width: 1350px) {
  .time-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.time-container > .round-button {
  margin-left: -100px;
}

.time-circle {
  position: relative;
  border-style: dashed;
  border-color: var(--theme-color);
  border-width: 2px;
  border-radius: 100%;
  width: 109px;
  height: 109px;
  text-align: center;
}
.time-circle div {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  background-color: white;
  border-radius: 100%;
  align-self: flex-start;
}
.time-circle h2 {
  margin-top: 22px;
  margin-bottom: -6px;
  font-size: 36px;
}
.time-circle p {
  font-size: 16px;
  margin-top: 0;
}

.top-sellers-grid {
  position: relative;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "a b" "a c";
  gap: 30px;
}
.top-sellers-grid .product {
  height: 345px;
  width: 547px;
}
.top-sellers-grid .product:nth-child(1) {
  height: 100%;
  width: 550px;
}
@media only screen and (max-width: 1200px) {
  .top-sellers-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "a" "b" "c";
  }
  .top-sellers-grid .product:nth-child(1) {
    height: 100%;
    width: 100%;
  }
}

.subscribe {
  background-color: var(--white);
}
.subscribe p {
  width: 400px;
  margin-bottom: 27px;
}
.subscribe .dark-gray {
  width: 100%;
  height: 100%;
}
.subscribe input {
  width: 100%;
  height: 100%;
}
.subscribe button {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  height: unset;
}
@media only screen and (max-width: 1450px) {
  .subscribe div {
    margin-right: 12px;
  }
}

.subscribe-textbox {
  position: relative;
  height: 46px;
  width: 445px;
}

.section {
  width: 100%;
  min-height: 418px;
}
.section.large {
  min-height: 600px;
}
.section .section-side {
  width: 390px;
  align-self: center;
}
@media only screen and (max-width: 1072px) {
  .section .section-side {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.section h1 {
  font-size: 64px;
}
.section button {
  font-size: 18px;
  font-family: "roboto", "sans-serif";
}

two-column-grid > div {
  align-self: center;
}/*# sourceMappingURL=index.css.map */